In [2]:
# use list() function on an example with data.table()

library(data.table)
library(dplyr)

# create a data.table
dt <- data.table(x = 1:10, y = 1:10)

# create a list
list(dt)

[[1]]
     x  y
 1:  1  1
 2:  2  2
 3:  3  3
 4:  4  4
 5:  5  5
 6:  6  6
 7:  7  7
 8:  8  8
 9:  9  9
10: 10 10

In [14]:
# Create a data frame containing three variable A,B,C st. A is normally distributed. B has repetitions of x and y. Perform all data table manipulation operations.

# create a data frame
df <- data.frame(A = rnorm(100), B = sample(c("x", "y"), 100, replace = TRUE), C = rnorm(100))

# create a data.table
dt <- as.data.table(df)

# data manipulation Operations
dt[, .(A = mean(A), B = unique(B), C = sum(C)), by = B]

# ordering by ascending A
dt[order(A)]
dt[, .(A = mean(A), B = unique(B), C = sum(C)), by = B][order(-A)]

  B A           B C
1 x  0.21773588 x  1.168033
2 y -0.02705735 y -1.182635

    A          B C
1   -2.4053759 y  0.54621076
2   -2.3039086 x -0.03895604
3   -1.9878491 y -1.50233258
4   -1.6540253 y  1.07501514
5   -1.4477854 x -0.27197648
6   -1.3786925 x -1.53728615
7   -1.3611824 y -0.03732001
8   -1.2806077 y  2.42170503
9   -1.2615126 x  0.82751712
10  -1.1839337 y  0.34047842
11  -1.1380698 x -0.83566064
12  -1.1359354 x  1.38417506
13  -1.1178561 y  1.09125292
14  -1.1169263 x  0.59243317
15  -1.0277295 x -0.39517567
16  -1.0254254 x -0.26478013
17  -0.9912822 y -0.84520748
18  -0.9112378 y -0.60380923
19  -0.8476721 y  0.61852376
20  -0.8228448 x -0.31183443
21  -0.7416862 y  0.79315785
22  -0.7327693 x -0.35802543
23  -0.7301275 y -0.21415374
24  -0.6882312 y -0.15560507
25  -0.6060637 x -0.04448276
26  -0.5941635 x  0.52749157
27  -0.5380442 y -0.68107802
28  -0.5093294 x  1.46505058
29  -0.4944605 y  0.02507556
30  -0.4209095 x -0.46721294
⋮   ⋮          ⋮ ⋮
71  0.6244202  y -1.28533233
72  0.6518875  y -0.66955919
73  0.6837542  y -0.77452742
74  0.7622507  x  0.92007833
75  0.7676467  x  0.46841278
76  0.7776540  x -1.06768519
77  0.7921116  x  1.51513897
78  0.8113148  x -0.54103716
79  0.8147417  y -1.56562873
80  0.8510834  y  1.57268211
81  0.8786387  y  1.18335942
82  0.9147662  x -0.05386885
83  0.9284427  x -1.98211408
84  0.9445683  x  0.19486298
85  0.9469099  x  0.81389709
86  0.9574578  y  1.37492322
87  1.0500877  x -0.63422984
88  1.2085833  y -1.51280066
89  1.2378653  x  1.04521377
90  1.2538429  y  0.14983288
91  1.6329420  x  1.73342732
92  1.6762645  y  0.32040259
93  1.7507978  x  0.48597538
94  1.9243740  x  0.73152104
95  2.0394985  x -0.03111166
96  2.0675252  x -0.13187288
97  2.1056214  y  1.55515608
98  2.1932754  x  0.06370741
99  2.2842442  x  0.11956978
100 2.4500066  x  1.50920204

  B A           B C
1 x  0.21773588 x  1.168033
2 y -0.02705735 y -1.182635

In [17]:

# with
dt <- data.table(x = 1:10, y = 1:10)
dt[with(dt, x > 5)]

# which
dt <- data.table(x = 1:10, y = 1:10)
dt[which(dt$x > 5)]

# allow.cartesian
dt <- data.table(x = 1:10, y = 1:10)
dt[allow.cartesian = TRUE, x > 5]

# roll
dt <- data.table(x = 1:10, y = 1:10)
dt[roll = TRUE, x > 5]

# rollends
dt <- data.table(x = 1:10, y = 1:10)
dt[rollends = TRUE, x > 5]

# .SD
dt <- data.table(x = 1:10, y = 1:10)
dt[.SD, x > 5]

# .SDcols
dt <- data.table(x = 1:10, y = 1:10)
dt[.SD, x > 5, .SDcols = c("x", "y")]

# on
dt <- data.table(x = 1:10, y = 1:10)
dt[x > 5][x == 7, max(x), on = "x"]


# mult
dt <- data.table(x = 1:10, y = 1:10)
dt[mult = "first", x > 5]

# nomatch
dt <- data.table(x = 1:10, y = 1:10)
dt[nomatch = 0, x > 5]

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

[1] 7

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

In [ ]:
'''
5. Perform the following using data.table with flights datasets.
rename variables
subsetting rows
selecting multiple values for an attribute
applying logical operation NOT
'''

# rename variables
flights <- data.table(flights)
setnames(flights, old = c("year", "month", "day", "dep_time", "sched_dep_time", "dep_delay", "arr_time", "sched_arr_time", "arr_delay", "carrier", "flight", "tailnum", "origin", "dest", "air_time", "distance", "hour", "minute", "time_hour"), new = c("year", "month", "day", "dep_time", "sched_dep_time", "dep_delay", "arr_time", "sched_arr_time", "arr_delay", "carrier", "flight", "tailnum", "origin", "dest", "air_time", "distance", "hour", "minute", "time_hour"))

# subsetting rows
flights[year == 2013 & month == 1 & day == 1]

# selecting multiple values for an attribute
flights[origin %in% c("EWR", "JFK", "LGA")]

# applying logical operation NOT
flights[!is.na(dep_delay)]

In [1]:
# Create two matrices of dimension 5x5

# create a matrix
mat1 <- matrix(1:25, nrow = 5, ncol = 5)
mat2 <- matrix(1:25, nrow = 5, ncol = 5)

# find the diagonal elements of matrix 1 and 2
diag(mat1)
diag(mat2)

# find the sum of all the values in matrix 2
sum(mat2)

# display third row in matrix 1 and fourth column in matrix 2
mat1[3, ]
mat2[, 4]

# find the smallest element in matrix two
min(mat2)

# display the 10th element in matrix 1 and 12th element in matrix 2
mat1[10]
mat2[12]

# find the sum of all the values of fourth row in matrix one and second column in matrix two
sum(mat1[4, ])
sum(mat2[, 2])

# display the reverse of all the elements
rev(mat1)
rev(mat2)

[1]  1  7 13 19 25

[1]  1  7 13 19 25

[1] 325

[1]  3  8 13 18 23

[1] 16 17 18 19 20

[1] 1

[1] 10

[1] 12

[1] 70

[1] 40

 [1] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

 [1] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1