In [2]:
# use list() function on an example with data.table()

library(data.table)
library(dplyr)

# create a data.table
dt <- data.table(x = 1:10, y = 1:10)

# create a list
list(dt)

[[1]]
     x  y
 1:  1  1
 2:  2  2
 3:  3  3
 4:  4  4
 5:  5  5
 6:  6  6
 7:  7  7
 8:  8  8
 9:  9  9
10: 10 10

In [14]:
# Create a data frame containing three variable A,B,C st. A is normally distributed. B has repetitions of x and y. Perform all data table manipulation operations.

# create a data frame
df <- data.frame(A = rnorm(100), B = sample(c("x", "y"), 100, replace = TRUE), C = rnorm(100))

# create a data.table
dt <- as.data.table(df)

# data manipulation Operations
dt[, .(A = mean(A), B = unique(B), C = sum(C)), by = B]

# ordering by ascending A
dt[order(A)]
dt[, .(A = mean(A), B = unique(B), C = sum(C)), by = B][order(-A)]

  B A           B C
1 x  0.21773588 x  1.168033
2 y -0.02705735 y -1.182635

    A          B C
1   -2.4053759 y  0.54621076
2   -2.3039086 x -0.03895604
3   -1.9878491 y -1.50233258
4   -1.6540253 y  1.07501514
5   -1.4477854 x -0.27197648
6   -1.3786925 x -1.53728615
7   -1.3611824 y -0.03732001
8   -1.2806077 y  2.42170503
9   -1.2615126 x  0.82751712
10  -1.1839337 y  0.34047842
11  -1.1380698 x -0.83566064
12  -1.1359354 x  1.38417506
13  -1.1178561 y  1.09125292
14  -1.1169263 x  0.59243317
15  -1.0277295 x -0.39517567
16  -1.0254254 x -0.26478013
17  -0.9912822 y -0.84520748
18  -0.9112378 y -0.60380923
19  -0.8476721 y  0.61852376
20  -0.8228448 x -0.31183443
21  -0.7416862 y  0.79315785
22  -0.7327693 x -0.35802543
23  -0.7301275 y -0.21415374
24  -0.6882312 y -0.15560507
25  -0.6060637 x -0.04448276
26  -0.5941635 x  0.52749157
27  -0.5380442 y -0.68107802
28  -0.5093294 x  1.46505058
29  -0.4944605 y  0.02507556
30  -0.4209095 x -0.46721294
⋮   ⋮          ⋮ ⋮
71  0.6244202  y -1.28533233
72  0.6518875  y -0.66955919
73  0.6837542  y -0.77452742
74  0.7622507  x  0.92007833
75  0.7676467  x  0.46841278
76  0.7776540  x -1.06768519
77  0.7921116  x  1.51513897
78  0.8113148  x -0.54103716
79  0.8147417  y -1.56562873
80  0.8510834  y  1.57268211
81  0.8786387  y  1.18335942
82  0.9147662  x -0.05386885
83  0.9284427  x -1.98211408
84  0.9445683  x  0.19486298
85  0.9469099  x  0.81389709
86  0.9574578  y  1.37492322
87  1.0500877  x -0.63422984
88  1.2085833  y -1.51280066
89  1.2378653  x  1.04521377
90  1.2538429  y  0.14983288
91  1.6329420  x  1.73342732
92  1.6762645  y  0.32040259
93  1.7507978  x  0.48597538
94  1.9243740  x  0.73152104
95  2.0394985  x -0.03111166
96  2.0675252  x -0.13187288
97  2.1056214  y  1.55515608
98  2.1932754  x  0.06370741
99  2.2842442  x  0.11956978
100 2.4500066  x  1.50920204

  B A           B C
1 x  0.21773588 x  1.168033
2 y -0.02705735 y -1.182635

In [17]:

# with
dt <- data.table(x = 1:10, y = 1:10)
dt[with(dt, x > 5)]

# which
dt <- data.table(x = 1:10, y = 1:10)
dt[which(dt$x > 5)]

# allow.cartesian
dt <- data.table(x = 1:10, y = 1:10)
dt[allow.cartesian = TRUE, x > 5]

# roll
dt <- data.table(x = 1:10, y = 1:10)
dt[roll = TRUE, x > 5]

# rollends
dt <- data.table(x = 1:10, y = 1:10)
dt[rollends = TRUE, x > 5]

# .SD
dt <- data.table(x = 1:10, y = 1:10)
dt[.SD, x > 5]

# .SDcols
dt <- data.table(x = 1:10, y = 1:10)
dt[.SD, x > 5, .SDcols = c("x", "y")]

# on
dt <- data.table(x = 1:10, y = 1:10)
dt[x > 5][x == 7, max(x), on = "x"]


# mult
dt <- data.table(x = 1:10, y = 1:10)
dt[mult = "first", x > 5]

# nomatch
dt <- data.table(x = 1:10, y = 1:10)
dt[nomatch = 0, x > 5]

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

[1] 7

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

  x  y
1  6  6
2  7  7
3  8  8
4  9  9
5 10 10

In [ ]:
'''
5. Perform the following using data.table with flights datasets.
rename variables
subsetting rows
selecting multiple values for an attribute
applying logical operation NOT
'''

# rename variables
flights <- data.table(flights)
setnames(flights, old = c("year", "month", "day", "dep_time", "sched_dep_time", "dep_delay", "arr_time", "sched_arr_time", "arr_delay", "carrier", "flight", "tailnum", "origin", "dest", "air_time", "distance", "hour", "minute", "time_hour"), new = c("year", "month", "day", "dep_time", "sched_dep_time", "dep_delay", "arr_time", "sched_arr_time", "arr_delay", "carrier", "flight", "tailnum", "origin", "dest", "air_time", "distance", "hour", "minute", "time_hour"))

# subsetting rows
flights[year == 2013 & month == 1 & day == 1]

# selecting multiple values for an attribute
flights[origin %in% c("EWR", "JFK", "LGA")]

# applying logical operation NOT
flights[!is.na(dep_delay)]

In [1]:
# Create two matrices of dimension 5x5

# create a matrix
mat1 <- matrix(1:25, nrow = 5, ncol = 5)
mat2 <- matrix(1:25, nrow = 5, ncol = 5)

# find the diagonal elements of matrix 1 and 2
diag(mat1)
diag(mat2)

# find the sum of all the values in matrix 2
sum(mat2)

# display third row in matrix 1 and fourth column in matrix 2
mat1[3, ]
mat2[, 4]

# find the smallest element in matrix two
min(mat2)

# display the 10th element in matrix 1 and 12th element in matrix 2
mat1[10]
mat2[12]

# find the sum of all the values of fourth row in matrix one and second column in matrix two
sum(mat1[4, ])
sum(mat2[, 2])

# display the reverse of all the elements
rev(mat1)
rev(mat2)

[1]  1  7 13 19 25

[1]  1  7 13 19 25

[1] 325

[1]  3  8 13 18 23

[1] 16 17 18 19 20

[1] 1

[1] 10

[1] 12

[1] 70

[1] 40

 [1] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

 [1] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [ ]:
#Read and write data for structured, semi structured and unstructured file formats
#read excel
library(xlsx)
xlsx <- read.xlsx("/home/user/Desktop/data.xlsx")
#read xml
library(xml)
xml <- read.xml("/home/user/Desktop/data.xml")
#read json
library(jsonlite)
json <- read.json("/home/user/Desktop/data.json")
#read csv
library(csv)
csv <- read.csv("/home/user/Desktop/data.csv")
#read tsv
library(tsv)
tsv <- read.tsv("/home/user/Desktop/data.tsv")
#read text
library(text)
text <- read.text("/home/user/Desktop/data.txt")

In [ ]:
'''
Q.1 Import the package mass
Q.2 List the rows of data that has missing values
Q.3 Create a data frame that contains the seprate values after removing the NA values
Q.4 How many male and female students participated in the survey?
Q.5 How many left and right handers are there?
Q.6 Find the relative frequency distibution of left and right handers and display them with the precision of two decimal places.
Q.7 Display the male left handed and female left handed in the column format
Q.8 What percentage of male left handed never smokes?
'''

In [4]:
new <- na.exclude(survey)

In [5]:
library(MASS)
head(survey)

# Find the relative frequency distibution of left and right handers and display them with the precision of two decimal places.

# create a data frame
df <- data.frame(survey$Sex, survey$Handedness)

# Display the male left handed and female left handed in the column format

  Sex    Wr.Hnd NW.Hnd W.Hnd Fold    Pulse Clap    Exer Smoke Height M.I
1 Female 18.5   18.0   Right R on L   92   Left    Some Never 173.00 Metric
2 Male   19.5   20.5   Left  R on L  104   Left    None Regul 177.80 Imperial
3 Male   18.0   13.3   Right L on R   87   Neither None Occas     NA NA
4 Male   18.8   18.9   Right R on L   NA   Neither None Never 160.00 Metric
5 Male   20.0   20.0   Right Neither  35   Right   Some Never 165.00 Metric
6 Female 18.0   17.7   Right L on R   64   Right   Some Never 172.72 Imperial
  Age
1 18.250
2 17.583
3 16.917
4 20.333
5 23.667
6 21.000

ERROR: Error in data.frame(survey$Sex, survey$Handedness): arguments imply differing number of rows: 237, 0

In [2]:
# Write a R script to check the greatest among three numbers

x <- 4:10
for (i in x){
 print(i)
}

[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [3]:
m <- matrix(2:15, 2)
for (r in seq nrow(m)){
    for (c in seq ncol(m)){
        print(m[r,c])
    }
}

ERROR: Error in parse(text = x, srcfile = src): <text>:2:15: unexpected symbol
1: m <- matrix(2:15, 2)
2: for (r in seq nrow
                 ^

In [5]:

x <- 1:100
isprime <- function(x) {
    for (i in 2:(x - 1)) {
        if (x %% i == 0) {
            return(FALSE)
        }
    }
    return(TRUE)
}
for (i in x) {
    if (isprime(i)) {
        print(i)
    }
}

[1] 3
[1] 5
[1] 7
[1] 11
[1] 13
[1] 17
[1] 19
[1] 23
[1] 29
[1] 31
[1] 37
[1] 41
[1] 43
[1] 47
[1] 53
[1] 59
[1] 61
[1] 67
[1] 71
[1] 73
[1] 79
[1] 83
[1] 89
[1] 97

In [7]:
# get inputs
x <- as.integer(readline(prompt = "Enter first number: "))
y <- as.integer(readline(prompt = "Enter second number: "))
z <- as.integer(readline(prompt = "Enter third number: "))

# sum
sum <- x + y + z
print(sum)

# mean
mean <- (x + y + z) / 3
print(mean)

# multiplication
mul <- x * y * z
print(mul)

# largest
max <- max(x, y, z)
print(max)

# smallest
min <- min(x, y, z)
print(min)

In [6]:
# Write a function to find the area of a circle

area <- function() {
    r <- as.integer(readline(prompt = "Enter radius: "))
    area <- pi * r^2
    print(area)
}

area()

[1] 113.0973

In [11]:
# Write a function to find the area of a rectangle

area <- function() {
    l <- as.integer(readline(prompt = "Enter Length"))
    b <- as.integer(readline(prompt = "Enter Breadth"))
    area <- l * b
    print(area)
}

area()

[1] 30

In [31]:
# Write a program to print the reverse of the individual numbers starting from 1 to 20

reverse <- function(x) {
    rev <- 0
    while (x > 0) {
        rem <- x %% 10
        rev <- rev * 10 + rem
        x <- x %/% 10
    }
    print(rev)
}

for (i in 1:20) {
    reverse(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 1
[1] 11
[1] 21
[1] 31
[1] 41
[1] 51
[1] 61
[1] 71
[1] 81
[1] 91
[1] 2

In [ ]:
#Write a function to swap two numbers

swap <- function() {
    x <- as.integer(readline(prompt = "Enter first number: "))
    y <- as.integer(readline(prompt = "Enter second number: "))
    temp <- x
    x <- y
    y <- temp
    print(x)
    print(y)
}

In [ ]:
# Write a program to print the squares of n numbers entered by the user

square <- function() {
    n <- as.integer(readline(prompt = "Enter number of elements: "))
    for (i in 1:n) {
        x <- as.integer(readline(prompt = "Enter number: "))
        print(x^2)
    }
}

In [ ]:
# Write an R script using functions with argument values and without argument values for the following to perform like a calculator

# without argument values
add <- function() {
    x <- as.integer(readline(prompt = "Enter first number: "))
    y <- as.integer(readline(prompt = "Enter second number: "))
    print(x + y)
}

sub <- function() {
    x <- as.integer(readline(prompt = "Enter first number: "))
    y <- as.integer(readline(prompt = "Enter second number: "))
    print(x - y)
}

mul <- function() {
    x <- as.integer(readline(prompt = "Enter first number: "))
    y <- as.integer(readline(prompt = "Enter second number: "))
    print(x * y)
}

div <- function() {
    x <- as.integer(readline(prompt = "Enter first number: "))
    y <- as.integer(readline(prompt = "Enter second number: "))
    print(x / y)
}

# with argument values
add <- function(x, y) {
    print(x + y)
}

sub <- function(x, y) {
    print(x - y)
}

mul <- function(x, y) {
    print(x * y)
}

div <- function(x, y) {
    print(x / y)
}

In [6]:
# Write a R Script to perform matrix multiplication in a 3x3 matrix

matMul <- function(a, b){
    c <- matrix(0, nrow = 3, ncol = 3)
    for (i in 1:3){
        for (j in 1:3){
            for (k in 1:3){
                c[i, j] <- c[i, j] + a[i, k] * b[k, j]
            }
        }
    }
    print(c)
}

a <- matrix(1:9, nrow = 3, ncol = 3)
b <- matrix(1:9, nrow = 3, ncol = 3)
matMul(a, b)

     [,1] [,2] [,3]
[1,]   30   66  102
[2,]   36   81  126
[3,]   42   96  150

In [12]:
# Write a R Script to print the elements of A that are not in B

A <- c(1, 2, 34, 5, 6, 7, 8, 9, 10)
B <- c(1, 2, 3, 4, 5, 6, 7, 8, 9)
C <- A[!(A %in% B)]
print(C)

[1] 34 10

In [15]:
#Get three vectors from the user and perform the following functions on them -


a <- as.vector(readline(prompt = "Enter vector A: "))
b <- as.vector(readline(prompt = "Enter vector B: "))
c <- as.vector(readline(prompt = "Enter vector C: "))


union(a, b)
intersect(a, b)
union(a, intersect(b, c))
intersect(a, union(b, c))
setdiff(a, b)

[1] "2,3,4,6,8,9" "2,3,5,7,3"

character(0)

[1] "2,3,4,6,8,9"

character(0)

[1] "2,3,4,6,8,9"

In [ ]:
# Read the content of ‘Events.csv’ in a data frame and view it.

events <- read.csv("Events.csv")
head(events)

# Access the scores of participants in event2 using the column name.

events$event2

# Use index number to retrieve the same data.

events[, 2]

# Extract the score of third participant in event3.

events[3, 3]

# Extract the scores of the first and second participant in all the events.

events[1:2, ]


# Display the names and their total sum value for all the events for each participants

events[, 1:3]
events[, 1:3] %>% rowSums()

# Make the column “name” as the row index of the data frame.

events[, 1:3] %>% rownames_to_column("name")

# Display the names of the students participated in event3.

events[events$event3 > 0, 1]

# Obtain the names whose total score is above its average.

total_score <- events[, 2:9] %>% rowSums()
mean <- mean(total_score)
events[total_score > mean, 1]

# Get the number of rows and columns of the survey data frame.

dim(survey)

# Provide the statistical summary of the data frame.

summary(survey)

# Display the column names of the survey data frame.

colnames(survey)

# Extract the bottom 2 rows from the data frame.

tail(survey, 2)

In [ ]:
# load dataset women ☕️
library(dataasets)
women

# select 2 valid attributes




# sample randomly 20 tuples of records for those 2 attributes


# perform 3 different types of correlation for the above


# manual handwritten verification also


# compare handwritten correlation with code output

:

In [ ]:
library(MASS)
load(datasets)

library(ggplot2)
load(survey)

# using survey dataset from MASS library
# column names -
# Sex
# Wr.Hnd
# NW.Hnd
# W.Hnd
# Fold
# Pulse
# Clap
# Exer
# Smoke

# 1.     Plot a bar graph for the number of male and female participants in the survey. Provide the title as “Male and Female participants”, y-axis label as “frequency” and specify the colours for the bars.
attach(new)
gender.count <- table(new)
barplot(gender.count,
    names.arg = c("Male", "Female"),
    main = "Male and Female participants", xlab = "Gender", ylab = "Count"
)

# 2.     Plot a bar graph for the number of left handers and right handers in the survey. Provide the title as “Left Handers and Right Handers”, y-axis label as “count” and specify the colours for the bars.

hand.count <- table(new$W.Hnd)
barplot(hand.count,
    names.arg = c("Left", "Right"),
    main = "Left Handers and Right Handers", xlab = "Hand", ylab = "Count"
)

# 3.     Plot the a bar graph between male left handers and female left handers. Provide the title as “Female Left Handers and Male Left Handers , y-axis label as “count” and specify the colours for the bars.

leftHand <- subset(new, W.Hnd == "Left")
leftHand.count <- table(leftHand$Sex)
barplot(leftHand.count,
    names.arg = c("Male", "Female"),
    main = "Female Left Handers and Male Left Handers", xlab= "Gender", ylab = "Count"
)


# 4.     Draw the distribution of smoking habits of male left handers using pie chart.

leftHand.smoke <- subset(leftHand, Smoke == "Heavy" || Smoke == "Occasional" || Smoke == "Regularly")
leftHand.smoke.count <- table(leftHand.smoke$Smoke)
pie(leftHand.smoke.count,
    labels = c("Heavy", "Occasional", "Regularly"),
    main = "Distribution of smoking habits of left handed males", xlab = "Smoke", ylab = "Count"
)

# 5.     Draw the histogram of age distribution with the title as ‘Age distribution’ and xlabel as ‘Age range’ and ylabel as ‘frequency’.

hist(new$Age,
    main = "Age distribution", xlab = "Age range", ylab = "Frequency"
)


#6.     Reveal the relationship between the age and writing hand span using scatter plot.

plot(new$Age, new$Wr.Hnd,
    main = "Age vs Writing Hand Span", xlab = "Age", ylab = "Writing Hand Span"
)
#7.     Draw the boxplot for pulse rate to analyse the five summary statistics. Provide appropriate title and label.

boxplot(new$Pulse,
    main = "Pulse Rate", xlab = "Pulse", ylab = "Rate"
)

In [ ]:
#PART B

#Use the newsurvey data obtained by cleaning ‘na’ values in survey data of MASS package and ggplot2 package to do the following:

#1.     Install the package ggplot2 and import it.

#2.     Plot a bar graph for the number of male and female participants in the survey. Provide the title as “Male and Female participants” and specify the colours for the bars.

#3.     Plot a bar graph for the number of left handers and right handers in the survey. Provide the title as “Left Handers and Right Handers” and specify the colours for the bars.

#4.     Plot the distribution between male left handers and female left handers using bar chart. Provide the title as “Female Left Handers and Male Left Handers” and specify the colours for the bars.

#5.     Draw the distribution of smoking habits of male left handers based on age using pie chart.

#6.     Draw the histogram of age distribution with the title as ‘Age distribution’ and xlabel as ‘Age range’ and ylabel as ‘frequency’.

#7.     Reveal the relationship between the age and writing hand span using scatter plot.

In [ ]:
# 1    Install the package ggplot2 and import it.

install.packages("ggplot2")
library(ggplot2)

# 2.     Plot a bar graph for the number of male and female participants in the survey. Provide the title as “Male and Female participants” and specify the colours for the bars.

ggplot(new, aes(x = as.factor(Sex))) +
    geom_bar(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7))

# 3.     Plot a bar graph for the number of left handers and right handers in the survey. Provide the title as “Left Handers and Right Handers” and specify the colours for the bars.

ggplot(new, aes(x = as.factor(W.Hnd))) +
    geom_bar(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7))

# 4.     Plot the distribution between male left handers and female left handers using bar chart. Provide the title as “Female Left Handers and Male Left Handers” and specify the colours for the bars.
leftHand <- subset(new, W.Hnd == "Left")
leftHand.count <- table(leftHand$Sex)
ggplot(leftHand, aes(x = as.factor(Sex))) +
    geom_bar(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7))

# 5.     Draw the distribution of smoking habits of male left handers based on age using pie chart.

ggplot(leftHand, aes(x = as.factor(Smoke))) +
    geom_bar(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    facet_wrap(~Age) +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    labs(title = "Distribution of smoking among male left handers", x = "Smoke", y = "Count")


# 6.     Draw the histogram of age distribution with the title as ‘Age distribution’ and xlabel as ‘Age range’ and ylabel as ‘frequency’.

ggplot(new, aes(x = Age)) +
    geom_histogram(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    labs(title = "Age distribution", x = "Age range", y = "Frequency") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10)) +
    geom_vline(xintercept = mean(new$Age), color = "red", linetype = "dashed", size = 1) +
    geom_vline(xintercept = median(new$Age), color = "green", linetype = "dashed", size = 1) +
    geom_vline(xintercept = quantile(new$Age, 0.25), color = "yellow", linetype = "dashed", size = 1) +
    geom_vline(xintercept = quantile(new$Age, 0.75), color = "yellow", linetype = "dashed", size = 1) +
    annotate("text", x = mean(new$Age), y = 10, label = "Mean", color = "red") +
    annotate("text", x = median(new$Age), y = 10, label = "Median", color = "green") +
    annotate("text", x = quantile(new$Age, 0.25), y = 10, label = "Q1", color = "yellow") +
    annotate("text", x = quantile(new$Age, 0.75), y = 10, label = "Q3", color = "yellow")


# 7.     Reveal the relationship between the age and writing hand span using scatter plot.

ggplot(new, aes(x = Age, y = Wr.Hnd)) +
    geom_point(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    labs(title = "Age vs Writing Hand Span", x = "Age", y = "Writing Hand Span") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10)) +
    geom_smooth(method = "lm", color = "red", linetype = "dashed", size = 1) +
    annotate("text", x = 50, y = 20, label = "Regression Line", color = "red")

In [ ]:
# Data Manipulation using dplyr package
# Use the newsurvey data obtained by cleaning ‘na’ values in survey data of MASS package to do the following:

load(survey)
new <- na.omit(survey)
library(dplyr)

#1.     Install the package dplyr and import it.
instal.packages("dplyr")
# 2.     Filter all male left handers.
leftHand <- subset(new, W.Hnd == "Left", Sex == "Male")
leftHand.count <- table(leftHand$Sex)
# 3.     Display all female right handers who keep right on top while clapping.
rightHand <- subset(new, W.Hnd == "Right" || Clap == "Right")
rightHand.count <- table(rightHand$Sex)
# 4.     Display all students who never exercise.
noExercise <- subset(new, Exer == "Never")
noExercise
# 5.     Display only the gender, age and writing hand of the students.
newTable <- dplyr::select(new, Sex, Age, Wr.Hnd)
newTable
# 6.     Display the age, pulse rate and writing hand span of female left handers.
leftHand <- filter(new, W.Hnd == "Left", Sex == "Female")
leftHand
newTable <- dplyr::select(leftHand, Age, Pulse, W.Hnd)
newTable

In [ ]:
# More functions in dplyr package

# Use the newsurvey data obtained by cleaning ‘na’ values in survey data of MASS package to do the following:

# 1.     Install the dplyr package and import it.

# 2.     Arrange all male left handers according to descending order of their heights.
male <- filter(new, Sex == "Male", Height)
descHeight <- arrange(male, desc(Height))
descHeight
# 3.     Introduce a new column hand_span which contains the value as difference between the span of writing hand and non-writing hand and display it along with gender, writing hand and non-writing hand span.
new$hand_span <- new$Wr.Hnd - new$NW.Hnd
new

# 4.     Display the average writing span of male and female left handers.
leftHand <- filter(new, W.Hnd == "Left")
leftHand
leftHand.count <- table(leftHand$Sex)
avg <- summarise(leftHand, avg = mean(Wr.Hnd))
avg


# 5.     Find the maximum pulse rate of male left and right handers.
leftHand <- filter(new, W.Hnd == "Left")
max <- summarise(leftHand, avg = max(Wr.Hnd))
max

In [ ]:
# Use the newsurvey data obtained by cleaning ‘na’ values in survey data of MASS package, dplyr package  and ggplot2 package to do the following:
library(MASS)
library(datasets)
new <- na.omit(survey)
new

# 1. Plot the distribution of writing hand span vs. pulse rate of left handers. Provide colour based on gender and vary the size of the point based on height of the student.
leftHand <- filter(new, W.Hnd == "Left")
leftHand

ggplot(new, aes(x = leftHand, y = Pulse)) +
    geom_point(aes(color = "red", size = Height)) +
    labs(title = "Distribution of writing hand span vs. pulse rate of left handers", x = "Writing Hand Span", y = "Pulse Rate") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10)) +
    geom_smooth(method = "lm", color = "red", linetype = "dashed", size = 1) +
    annotate("text", x = 50, y = 20, label = "Regression Line", color = "red")

# 2. Plot the distribution of height of the students withfilled colour based on gender with facet based on left and write handers.

ggplot(new, aes(x = Height)) +
    geom_histogram(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    labs(title = "Height distribution", x = "Height range", y = "Frequency") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10)) +
    facet_wrap(~Sex, ncol = 2)

# 3. Plot the trend of span of writing hand vs. non-writing hand coloured and grouped based on left and right handers with facet label based on clap.

ggplot(new, aes(x = Wr.Hnd, y = NW.Hnd)) +
    geom_point(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    labs(title = "Writing Hand Span vs Non-Writing Hand Span", x = "Writing Hand Span", y = "Non-Writing Hand Span") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10)) +
    facet_wrap(~Clap, ncol = 2)

# 4. Plot the distribution of age of students based on categories under exercise with facet wrap based on gender.

ggplot(new, aes(x = Age)) +
    geom_histogram(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    labs(title = "Age distribution", x = "Age range", y = "Frequency") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10)) +
    facet_wrap(~Exer, ncol = 2)

# 5. Plot the box plot of writing hand span with respect to smoking habits of students.

ggplot(new, aes(x = Smoke, y = Wr.Hnd)) +
    geom_boxplot(color = "blue", fill = rgb(0.1, 0.4, 0.5, 0.7)) +
    labs(title = "Box plot of writing hand span with respect to smoking habits of students", x = "Smoking habits", y = "Writing Hand Span") +
    theme(axis.text.x = element_text(angle = 90, hjust = 1)) +
    scale_x_continuous(breaks = seq(0, 100, 10)) +
    scale_y_continuous(breaks = seq(0, 100, 10))

: